@media screen and (min-width: 992px) {
    
    /*--------------------------HEADER------------------------------*/
.header-desktop{
    list-style: none;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: var(--light-green);
    height: 145px;
}

h1{
    font-size: 5,1em;
    padding-top: 60px;
    line-height: 15px;
}

.nav-bar-left{
    display: grid; 
    grid-template-columns: 30%  70%;

}
#img-logo{
    justify-self: right;
    width: 90px;
    padding-top: 16px;
    margin-right: 12px;
}


#nav-bar-right{
    display: grid;
    grid-template-columns: 50% 50%;

}
#lnk-products{
    justify-self:end;
    align-self: center;
    font-size: 1.2rem ;
    
}

#lnk-shopcart{
    justify-self: start;
    align-self: center;
    font-size: 1.2rem;

}

#lnk-shopcart a, #lnk-products a{
    text-decoration: none; 
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*-----------------------MAIN---------------------------*/

#img-product{
    height: auto;
    width: 7rem;
}
#btns-add{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#products-cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.btn-action {
    background-color: var(--dark-green);
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    font-weight: bold;
}
#nav-bar-mobile{
    display: none;
}
#products-mobile{
    display: none; 
}

#bg-slogan {
    display: none;
}
#products-cart{
    display: none; 

}
.crd-product-cart{
display: none; 
}
/*-----------------------FOOTER-------------------------*/
.nav-footer{
    text-align: center;
    background-color: var(--light-green);
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    
    }

    p {
    margin-bottom: 0; 
    }
}