@media screen and (min-width: 576px) {
    
    
.navBar-products{
    list-style: none;
}
}

.nav-bar-shopCart {
    display: none;
}

.shopCart{
    display: none;
}

.crd-product-shopCart{
    display: none;
}


.nav-footer{
text-align: center;
}