@media screen and (max-width:992px) {
    .header-desktop{
        display: none;
    }
    #products-desktop{
        display: none;
    }
    #nav-bar-mobile {
        background-color: var(--light-green);
        height: 10%;
        display: flex;
        justify-content: space-around;
       
    }
    #img-logo{
        width: auto;
        height: 4rem;
        padding-top: 0.5rem;

    }
    #pg-cart {
        border-style: none;
        background-color: var(--light-green);
      
    }
    #pg-main{
        border-style: none;
        background-color: var(--light-green);
        height: 1.2rem;
        width: auto;
        align-self: center;
        justify-self: flex-end;
    }
    #txt-patitas{
        
        font-size: 1.5rem;
        font-weight: bold;
        align-self: flex-end;
       
    }
    
    #txt-slogan{
        color: white;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #bg-slogan{
       
        background-color: var(--dark-green);
    }
    
    h1{
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        font-size: 2em;
        text-align: center;
        font-weight: 400;
    }
    
    .crd-product-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .img-product-mobile{
        width: 250px;
        margin-top: 8%;
    }
    
    .txt-name-mobile{
        padding-top: 6%;
        font-weight: bold;
        color: rgb(80, 78, 78);
        font-size: 1.5em;
        text-align: center;
        width: 66%;
    }
    
    .txt-price-mobile{
        font-weight: bold;
        font-size: 2.5em;
    }
    .quantity-products{
        font-size: 2em;
    }
    
    input[type='number']{
        width: 80px;
    }

    .num-products{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 2em;
        width: 3em;
    }
 
  .btns-selection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
  }
    .ctn-selection{
        margin-bottom: 0;
}
    .btn-plusminus{
        background-color: var(--dark-green);
        border-radius: 15px;
        height: 40px;
        width: 40px;
        border: none;
        color: white;
        font-size: 2.5em;
    }
    
    
    .btn-action{
        background-color: var(--dark-green);
        border-radius: 15px;
        padding: 0.5em;
        border: none;
        color: white;
        font-size: 1.4em;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 1em;
        justify-self: center;
    }
    .nav-footer{
        text-align: center;
        background-color: var(--light-green);
        font-size: 0.5rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-top: 1rem;
        
        }
    
        p {
            margin-bottom: 0; 
        }
    }